.navbar-expand-lg{
    background-color: rgb(67, 111, 153);
}

.name {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 280px;
}
.line{
    
    margin-top: 30px;
    width:60%;
}

.navbar-brand{
     color: rgb(244, 240, 240);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.nav-link1{
    color:rgb(250, 250, 251);
    font-family: 'Times New Roman', Times, serif;
}

.nav-link2{
    color:rgb(68, 68, 69);
    font-family: 'Times New Roman', Times, serif;
}


.title {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.lines{
    margin-top: 10px;
    width:20%;
}
.row {
    padding-top: 60px;

}
 .form-control{
     width: 400px;
     
 }

 h2 {
    font-family: 'times new roman';
    margin-top: 25px;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color:#001E6C;
    width: 100%;
    line-height: 50px;
 }

.btn-outline-success {
    margin-right: 30px;
    float:right;
    width: 30;
}

.card-text {
    width: 50;
}