.navbar-expand-lg{
    background-color: rgb(67, 111, 153);
}

.name {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 280px;
}
.line{
    
    margin-top: 10px;
    width:60%;
}

.navbar-brand{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-brand:hover{
   color: coral;
}
.nav-link{
    color:rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, ;
 }
 
 .nav-link:hover{
    color: coral;
   
 
 }



.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, ;
    margin-top: 20px;
}
.lines{
    margin-top: 10px;
    width:20%;
}
.row {
    padding-top: 60px;

}
 .form-control{
     width: 400px;
     
}

 h2 {
    margin-top: 10px;
    font-weight: 800;
    color:#000000;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }




table td ul.nav{
    background-color: rgb(67, 111, 153);
    height: 100%;
    padding: 30px;
    width: 200px;
    border-radius: 5px;
 
}
table td ul.nav a{
    font-size: 15px;
}

.d-flex{
    margin: auto;
    width: 50%;
    position: relative;
}

table td.isiData{
    width: 10%;
    justify-content: left;
}

td.isiData{
    margin-left: 10px;

}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
  }