.img{
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
  max-width: 100px;
  height: auto;
  border-radius: 8%;
    
}
.col {
  padding-left: 50px;
  position: auto;
}

.navbar-expand-lg{
  
  background-color: rgb(67, 111, 153);
  
}

#background{
  background-image: url('/images/bg.jpeg');
  height: 55vh;
  background-position: center;
  background-size: cover;
  
}
.name {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 280px;
}
.line{
  
  margin-top: 30px;
  width:60%;
}

.navbar-brand{
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-brand:hover{
  color:coral;
}

.nav-link{
  color:rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, ;
}

.nav-link:hover{
  color: coral;
 

}

.title {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, ;
 margin-top: 60px;
}
.lines{
  
  margin-top: 10px;
  width:20%;
}
.row {
  padding-top: 60px;

}
.form-control{
   width: 400px;
}
.button-pengajuan{
   margin: 10px;
   padding: 30px;
   
}
.rows {
  padding-top: 20px;
  padding: 20px;
}
.mb-3 {
   margin-left:450px;
   
}
.cards {
   width: 800px;
   margin-left: 20px;
}

.text-center{
  background-color: rgb(67, 111, 153);
  color :white;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}
