
.card-register{
    width: 40%;
    margin-left: 32%;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;

    
}
h2{
  color: #000000;
  font-size: 15px;

}

#login{
  background-color: rgb(67, 111, 152);
  border-radius: 4px;
  padding: 10px;
}


h1{
  color: rgb(0, 0, 0);
}
.reg-box label{
  color: rgb(0, 0, 0);
}

.card-register h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.formRegister a{
    text-decoration: none;
    margin-bottom: 10%;
    color:rgb(255, 255, 255);
}

.formRegister a:hover{
    color: coral;
}




input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
    background-color: #45a049;
  }